{% extends 'base/base.html' %}


{% block content %}
{% if current_user.is_authenticated %}

{% endif %}

<div class="home">
    {% if active_user.is_authenticated %}
    <div>

        <h2 id="hi  ">This the Home Page</h2>
    </div>

    {% else %}
        <div class="randuser">
            <div class="randuser-message">
                <h3>YOU WANT TO EXPLORE !</h3>
                <h5>Here will be breife explaination about ALFANSO PUBLIC SCHOOL for the random user</h5>
            </div>
            <div class="randuser-auth">
                <div><a href="{{ url_for('login') }}">Login</a><br></div>
                <div><a href="{{ url_for('create_account') }}">Create An Account</a></div>
            </div>
        </div>
    {% endif %}

</div>

{% endblock %} class="home-contaner"