
body {
    margin: 0; /* Remove default margin */

    height: 100vh; /* Viewport height */
}

.form_container {
    display: flex;
    justify-content: center;  
    padding-top: 10px;
    margin-top: 20px; 

    border: solid gray .5px;

    height: 200px;
    width: 300px;

}

.form_container div {
    padding-bottom: 10px;
    
}

/* STUDENT LIST  */
.stuent_table {
    width: 70%;
    border: 2px solid black;
}
.stuent_table table{
    width: 100%;
}
.stuent_table th, td {
    border:1px solid black;
    text-align: center;
  }
.see_student_of {
    border: 2px solid red;
    border-radius: 20px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.see_student_of input {
    height: 30px;
    min-width: 30px;
    margin-left: 10px;
    background-color: rgb(0, 227, 216);
    border: none;
    border-radius: 10px;
}


/* for homepage */
.home-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.home-randuser-container {
    background-color: aqua;
    height: 70%;
    width: 40%;
}

.home-randuser-container-message {
    border: 1px solid black;
    height: 80%;
}


.home-randuser-container-auth {
    border: 1px solid black;
    height: 20%;

    display: flex;
    justify-content: center;
}

.home-randuser-container-auth div{
    padding: 15px;
    margin-left: 10px;
    border: 1px solid green;
    height: 15px;
    border-radius: 10px;
    background-color: rgb(187, 247, 67);
}


