
body {
    margin: 0; /* Remove default margin */

    height: 100vh; /* Viewport height */
}

.form_container {
    display: flex;
    justify-content: center;  
    padding-top: 10px;
    margin-top: 20px; 

    border: solid gray .5px;

    height: 200px;
    width: 300px;

}

.form_container div {
    padding-bottom: 10px;
}

