{% extends 'base/base.html' %}

{% block content %}

<div class="create-account">

        <form action="">
            <span>Create Account As : </span>
            <button type="button" id="student-button" onclick="showForm('student')">Student</button>
            <button type="button" id="parent-button" onclick="showForm('parent')">Parent</button>
            <button type="button" id="teacher-button" onclick="showForm('teacher')">Teacher</button>
            <button type="button" id="others-button" onclick="showForm('others')">Others</button>
            <!-- <input type="submit" value="Teacher">
            <input type="submit" value="Others"> -->
        </form>
        
        <br><br>
        <!-- for student -->
        
        <div class="form-container" id="studentForm">
            <form action="" method="POST">
                <span>StudentForm</span><br>
                <form action="" method="POST">
                    <div>
                        <label for="username">Username:</label>
                        <input type="text" name="username">
                    </div>
                    <div>
                        <label for="email">Eamil:</label>
                        <input type="text" name="email">
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input type="text" name="password">
                    </div>
                    <div>
                        <label for="registration_no">Registration_No:</label>
                        <input type="number" name="registration_no" placeholder="for a registered student ">
                    </div>
                    <input type="hidden" name="userType" value="student">
                    <input type="submit" value="Register">             
                </form>
                
            </form>
        </div>
        
        
        <!-- for parents -->
        
        <div class="form-container" id="parentForm">
            <form action="">
                <span>ParentForm</span><br>
                <form action="" method="POST">
                    <div>
                        <label for="username">Username:</label>
                        <input type="text" name="username">
                    </div>
                    <div>
                        <label for="email">Eamil:</label>
                        <input type="text" name="email">
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input type="text" name="password">
                    </div>
                    <div>
                        <label for="registration_no">Child's_Registration_No:</label>
                        <input type="number" name="registration_no">
                    </div>
                    <div>
                        <label for="mobile_no">Mobile No:</label>
                        <input type="number" name="mobile_no">
                    </div>
                
                    <input type="submit" value="Register">             
                </form>
            </form>
        </div>
        
        


        <script>
            function showForm(userType) {
                document.getElementById('studentForm').style.display = 'none';
                document.getElementById('parentForm').style.display = 'none';
                
                document.getElementById('parent-button').style.backgroundColor = 'white';
                document.getElementById('student-button').style.backgroundColor = 'white';
                document.getElementById('teacher-button').style.backgroundColor = 'white';
                document.getElementById('others-button').style.backgroundColor = 'white';

                document.getElementById(userType + '-button').style.backgroundColor = 'yellow';
                document.getElementById(userType + 'Form').style.display = 'block';



            }
        </script>

   </div>

    {% endblock %}



