<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/registration.css')}}">
    <title>Registration-Form</title>
</head>
<body>

    {{name}}
    <div class="form_container">
        <form action="" method="POST">
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name">
            </div>
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username">
            </div>
            <div>
                <label for="class">Class:</label>
                <input type="number" name="class">
            </div>
            <div>
                <label for="rull">Rull_no:</label>
                <input type="number" name="rull">
            </div>
            <div>
                <label for="registration_no">Registration_No:</label>
                <input type="number" name="registration_no">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password">
            </div>
            
        
            <input type="submit" value="Register">             
        </form>
    </div>
   


</body>
</html>