{% extends 'main.html' %}

{% block content %}

<a href="{{ url_for('home') }}">home</a><br>

    <div class="form_container">
        <form action="" method="POST">
       
            <div>
                <label for="registration_no">Registration_No:</label>
                <input type="number" name="registration_no">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password">
            </div>
            <input type="submit" value="Login">             
        </form>
    </div>
   

{% endblock %}