{% extends 'main.html' %}

{% block content %}

<a href="{{ url_for('home') }}">home</a><br>


{% if students %}
<h2>all students</h2>
<ul>
    {% for student in students %}
        <li>
            <h4>Student ID: {{ student.id }}</h4>
            <h4>Name: {{ student.name }}</h4>
            <h4>Email: {{ student.email }}</h4>
            <h4>Class: {{ student.class_name }}</h4>
            <h4>Password: {{ student.password }}</h4>
            <h4>Registration No: {{ student.registration_no }}</h4>
        </li>
        {% endfor %}
</ul>
{% endif %}

{% endblock %}