
{% extends 'main.html' %}

{% block content %}

    {{name}}
    <div class="form_container">
        <form action="" method="POST">
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name" value="{{ usr.name }}">
            </div>
            <div>
                <label for="class">Class:</label>
                <input type="number" name="class" value="{{ usr.class_name }}">
            </div>
            <div>
                <label for="registration_no">Registration_No:</label>
                <input type="number" name="registration_no" value="{{ usr.registration_no }}">
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" name="email" value="{{ usr.email }}">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" value="{{ usr.password }}">
            </div>
            <input type="submit" value="Save-Changes"> 
        </form>
    </div>
    <input type="submit" value="Back">            
   

{% endblock %}
